<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="import" href="../image-slider.html">
		<script src="../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
	</head>
	<body>
		<image-slider images = '[
														{"file" : "pic1.jpg", "alt":"field"},
														{"file" : "pic5.jpg", "alt":"forest"},
														{"file" : "pic2.jpg", "alt":"bee"},
														{"file" : "pic3.jpg", "alt":"flowers"}
														]'
									img-base-dir = "../demo/images/">
		</image-slider>
	</body>
</html>
